{% extends 'base.html' %}
<main>
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 78vh;">

    <div class="card shadow-lg text-center p-5"
         style="
            background: linear-gradient(145deg, #1b3a2a, #355e3b);
            color: #f4f1de;
            border-radius: 20px;
            border: 2px solid #556b2f;
         ">

        <h2 class="mb-3">
            Welcome, {{ user.username }}
        </h2>

        <p style="color: #d8d8c0;">
            Manage your cash with discipline and precision.
        </p>

        <br>

        <a href="{% url 'cash_list' %}" 
           class="btn btn-lg mbox">
            🌲 Cash Manager
        </a>

    </div>

</div>

{% endblock %}
</main>